
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layouts/Layout.cshtml";
}


    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <div id="EmployeeChart"></div>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <div id="EmployeeBar"></div>

                </div>
            </div>
        </div>
    </div>



<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Table Data table</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active"> @ViewBag.Title</li>
        </ol>
    </div>

    <div class="col-md-6 col-4 align-self-center">
        <button id="btncreatedept" data-toggle="modal" data-target="#exampleModal" class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create New</button>
    </div>


</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Data Export</h4>
                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                <div class="dt-buttons">
                    <a href="@Url.Action( "convertToCSV", "Department")" class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example23"><span>CSV</span></a>
                    <a href="@Url.Action( "convertToExcel", "Department")" class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example23"><span>Excel</span></a>
                    <a href="@Url.Action( "Report", "Department")" class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example23"><span>PDF</span></a>
                </div>

                <div class="table-responsive m-t-40">
                    <!--table -->
                    <table id="et" class="display nowrap table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Department Name</th>
                                <th>Email</th>
                                <th>Birthdate</th>
                                <th>Phone Number</th>
                                <th>Address</th>
                                <th>CreateDate</th>
                                <th>UpdateDate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>





<!-- Modal Bootstrap -->
@*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <input type="hidden" class="form-control" id="Id">
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">First Name : </label>
                                <input type="text" class="form-control" id="FirstName">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Last Name : </label>
                                <input type="text" class="form-control" id="LastName">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email : </label>
                        <input type="email" class="form-control" id="Email">
                    </div>
                    <div class="form-group" id="inputPassword">
                        <label for="recipient-name" class="col-form-label">Password : </label>
                        <input type="password" class="form-control" id="Password">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Birthdate : </label>
                        <input type="date" class="form-control" id="BirthDate">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Phone Number : </label>
                        <input type="text" class="form-control" id="PhoneNumber">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Address : </label>
                        <input type="text" class="form-control" id="Address">
                    </div>
                    <div class="form-group">
                        <label for="DepartmentOption">Department</label>
                        <select class="form-control" id="DepartmentOption"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Save()" id="btnSave">Save</button>
                <button type="button" class="btn btn-warning" onclick="Edit()" id="btnUpdate">Update</button>
            </div>
        </div>
    </div>
</div>*@

<div id="exampleModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Create New Employee</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="Id">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Email : </label>
                            <input type="email" class="form-control" id="Email">
                        </div>
                        <div class="form-group" id="inputPassword">
                            <label for="recipient-name" class="col-form-label">Password : </label>
                            <input type="password" class="form-control" id="Password">
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">First Name : </label>
                                    <input type="text" class="form-control" id="FirstName">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Last Name : </label>
                                    <input type="text" class="form-control" id="LastName">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Birthdate : </label>
                            <input type="date" class="form-control" id="BirthDate">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Phone Number : </label>
                            <input type="text" class="form-control" id="PhoneNumber">
                        </div>
                        <div class="form-group">
                            <label for="DepartmentOption">Department</label>
                            <select class="form-control" id="DepartmentOption"></select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Address : </label>
                            <textarea type="text" class="form-control" id="Address" rows="4"></textarea>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Save()" id="btnSave">Save</button>
                    <button type="button" class="btn btn-warning" onclick="Edit()" id="btnUpdate">Update</button>
                </div>

            </div>
        </div>
</div>

@section Scripts{
    <script src="~/Scripts/EmployeeScript.js"></script>


    <!--Morris JavaScript -->
    <script src="~/Mini AdminPro/assets/plugins/raphael/raphael-min.js"></script>
    <script src="~/Mini AdminPro/assets/plugins/morrisjs/morris.js"></script>
}